@tailwind base;
@tailwind components;
@tailwind utilities;

body.no-scroll {
  overflow: hidden;
}

body {
  --color-primary-50: #fbf4fa;
  --color-primary-100: #f9eaf7;
  --color-primary-200: #f5d5f0;
  --color-primary-300: #eeb3e4;
  --color-primary-400: #e284d0;
  --color-primary-500: #d255b6;
  --color-primary-600: #c1419e;
  --color-primary-700: #a63082;
  --color-primary-800: #8a2a6c;
  --color-primary-900: #74275c;

  --color-primary-header: var(--color-primary-800);
  --color-primary-subheader: var(--color-primary-600);

  --color-text: #000;
  --color-text-disabled: #777;
  --color-text-secondary: #666;
  --color-text-contrast: #fff;
  --color-background: #fff;

  --color-checked: var(--color-primary-900);
  --color-unchecked: #aaa;
  --color-switch-knob: var(--color-text-contrast);

  color: var(--color-text);
  background-color: var(--color-background);
}

body.dark-mode {
  --color-primary-header: var(--color-primary-400);
  --color-primary-subheader: var(--color-primary-600);

  --color-text: #fff;
  --color-text-secondary: #aaa;
  --color-background: #000;

  --color-checked: var(--color-primary-500);
  --color-unchecked: #aaa;
}

body.hopbush-theme {
  --color-primary-50: #fbf4fa;
  --color-primary-100: #f9eaf7;
  --color-primary-200: #f5d5f0;
  --color-primary-300: #eeb3e4;
  --color-primary-400: #e284d0;
  --color-primary-500: #d255b6;
  --color-primary-600: #c1419e;
  --color-primary-700: #a63082;
  --color-primary-800: #8a2a6c;
  --color-primary-900: #74275c;
}

body.mountain-meadow-theme {
  --color-primary-50: #ecfdf3;
  --color-primary-100: #d1fae1;
  --color-primary-200: #a7f3c9;
  --color-primary-300: #6ee7ac;
  --color-primary-400: #34d38b;
  --color-primary-500: #0fa968;
  --color-primary-600: #05965c;
  --color-primary-700: #04784c;
  --color-primary-800: #065f3e;
  --color-primary-900: #064e34;
}

body.starship-theme {
  --color-primary-50: #fafee7;
  --color-primary-100: #f2fbcc;
  --color-primary-200: #e4f79f;
  --color-primary-300: #c6ed4c;
  --color-primary-400: #b7e338;
  --color-primary-500: #99c919;
  --color-primary-600: #77a10f;
  --color-primary-700: #5a7a11;
  --color-primary-800: #496113;
  --color-primary-900: #3e5215;
}

body.honey-flower-theme {
  --color-primary-50: #f2edff;
  --color-primary-100: #e9deff;
  --color-primary-200: #dac4ff;
  --color-primary-300: #c7a1ff;
  --color-primary-400: #bb7bfe;
  --color-primary-500: #b35cf8;
  --color-primary-600: #ad3eed;
  --color-primary-700: #9a31d1;
  --color-primary-800: #7b2aa9;
  --color-primary-900: #4b2066;
}

body.shakespeare-theme {
  --color-primary-50: #eff9fc;
  --color-primary-100: #d6eff7;
  --color-primary-200: #b2deef;
  --color-primary-300: #7dc7e3;
  --color-primary-400: #55afd4;
  --color-primary-500: #2589b5;
  --color-primary-600: #226e98;
  --color-primary-700: #225b7c;
  --color-primary-800: #244c66;
  --color-primary-900: #224157;
}

body.broom-theme {
  --color-primary-50: #fbfee8;
  --color-primary-100: #f7ffc2;
  --color-primary-200: #f4ff89;
  --color-primary-300: #f4ff45;
  --color-primary-400: #fafd18;
  --color-primary-500: #ede605;
  --color-primary-600: #cdb701;
  --color-primary-700: #a38405;
  --color-primary-800: #87670c;
  --color-primary-900: #725411;
}

body.turquoise-blue-theme {
  --color-primary-50: #f0fdfc;
  --color-primary-100: #cdfaf6;
  --color-primary-200: #9bf4ef;
  --color-primary-300: #4fe4e0;
  --color-primary-400: #31cfd0;
  --color-primary-500: #18b1b4;
  --color-primary-600: #108c91;
  --color-primary-700: #116f74;
  --color-primary-800: #13575c;
  --color-primary-900: #144a4d;
}

body.nandor-theme {
  --color-primary-50: #f6f7f7;
  --color-primary-100: #e0e7e3;
  --color-primary-200: #c1cec7;
  --color-primary-300: #9bada4;
  --color-primary-400: #768b82;
  --color-primary-500: #5b7167;
  --color-primary-600: #51655d;
  --color-primary-700: #3c4944;
  --color-primary-800: #323d39;
  --color-primary-900: #2d3432;
}

body.governor-bay-theme {
  --color-primary-50: #f3f6ff;
  --color-primary-100: #eaeffd;
  --color-primary-200: #d7e0fd;
  --color-primary-300: #b7c5fb;
  --color-primary-400: #8e9ef7;
  --color-primary-500: #606ff2;
  --color-primary-600: #3f46e8;
  --color-primary-700: #2d30d4;
  --color-primary-800: #292cc3;
  --color-primary-900: #212391;
}

body.denim-theme {
  --color-primary-50: #eefaff;
  --color-primary-100: #d9f3ff;
  --color-primary-200: #bbecff;
  --color-primary-300: #8ce1ff;
  --color-primary-400: #56cdff;
  --color-primary-500: #2fb2ff;
  --color-primary-600: #1895f8;
  --color-primary-700: #117be2;
  --color-primary-800: #1563b8;
  --color-primary-900: #175591;
}

body.deluge-theme {
  --color-primary-50: #f3f2fb;
  --color-primary-100: #e9e7f8;
  --color-primary-200: #d8d3f2;
  --color-primary-300: #c1b8e9;
  --color-primary-400: #ad9bde;
  --color-primary-500: #9c81d3;
  --color-primary-600: #8d68c3;
  --color-primary-700: #7d5aac;
  --color-primary-800: #64498a;
  --color-primary-900: #53406f;
}

body.amaranth-theme {
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee5e6;
  --color-primary-200: #fccfd3;
  --color-primary-300: #f9a8b0;
  --color-primary-400: #f67686;
  --color-primary-500: #eb344f;
  --color-primary-600: #d92548;
  --color-primary-700: #b7193c;
  --color-primary-800: #991839;
  --color-primary-900: #831836;
}

body.golden-sand-theme {
  --color-primary-50: #fef9ee;
  --color-primary-100: #fdf2d7;
  --color-primary-200: #f9e0af;
  --color-primary-300: #f5c97c;
  --color-primary-400: #f0a847;
  --color-primary-500: #ec8e23;
  --color-primary-600: #dd7519;
  --color-primary-700: #b75917;
  --color-primary-800: #92471a;
  --color-primary-900: #763c18;
}

body.blue-gem-theme {
  --color-primary-50: #f2f3ff;
  --color-primary-100: #e6e6ff;
  --color-primary-200: #d1d1ff;
  --color-primary-300: #afacff;
  --color-primary-400: #877eff;
  --color-primary-500: #614aff;
  --color-primary-600: #4b25ff;
  --color-primary-700: #3d13ee;
  --color-primary-800: #330fc8;
  --color-primary-900: #3010b3;
}
